body {
  text-align: center;
}
.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* margin: -3px; */
  /* background-color: blue; */
  border: 3px solid red;
  transition: 2s;
}

#app {
  text-align: center;
  position: relative;
  top: 200px;
  right: ;
  left: 0;

  display: inline-flex;
}
#stay {
  max-width: 103px;
  max-height: 103px;
}
.square:hover {
  transition: 3s;
  width: 306px;
  height: 306px;

  /* transform: rotate(180deg); */
}
/* //////////////////////////////////////////////////////////////////*/
/* ///////////////////////////// TOP ROW ////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/

.left {
  display: inline;
}

#left1:hover {
  transition: 3s;
  transform: translate(0);
}

#left2:hover {
  transition: 3s;
  transform: translateY(-103px);
}
#left3:hover {
  transition: 3s;
  transform: translateY(-206px);
}

/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////*/
/* ///////////////////////////// MIDDLE ROW /////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/

.mid {
  display: inline;
}

#mid1:hover {
  transition: 3s;
  transform: translate(-103px, 0px);
}

#mid2:hover {
  transition: 3s;
  transform: translate(-103px, -103px);
}

#mid3:hover {
  transition: 3s;
  transform: translate(-103px, -206px);
}

/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////*/
/* ///////////////////////////// BOTTOM ROW /////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/
.right {
  display: inline;
}
#right1:hover {
  transition: 3s;
  transform: translateX(-206px);
}
#right2:hover {
  transition: 3s;
  transform: translate(-206px, -103px);
}

#right3:hover {
  transition: 3s;
  transform: translate(-206px, -206px);
  
}

/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/
/* //////////////////////////////////////////////////////////////////*/
